@use 'breakpoints';
@use 'grid';

.hero {
    @include grid.container;
    grid-row-gap: 0;
    padding-top: 80px;
}

.hero__title {
    grid-column: 1 / -1;
    font-size: 6vw;
    line-height: 1;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 0;
    animation: fadeIn 0.5s 1.3s both, bringToFront 0.4s 2.6s both;
}

.hero__title .letter {
    position: relative;
    display: inline-block;
    animation: bringToFront 0.4s 2.6s both,
        animateHeroLetter 1s calc(1.8s + var(--delay)) var(--ease-in-out-sine)
            both;
}

.hero__image {
    --image-height: 300px;
    grid-column: 1 / -1;
    width: 100%;
    height: var(--image-height);
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
    animation: fadeIn 0.4s 0.5s both,
        slideUp 0.7s 0.5s var(--ease-out-sine) both;
    @include breakpoints.tablet {
        --image-height: 700px;
    }
}

@keyframes animateHeroLetter {
    0% {
        transform: translateY(50%);
    }
    60% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(40%);
    }
}
